<!DOCTYPE html>
<html>
    <head>
        <title>Thanks for joining Polls!!!</title>
    </head>
    <body>
        <h1>Register w us</h1>

        {% if registered %}
        <strong>Thanks for registering!!!</strong>
        <a href="/polls/">Return to homepage</a><br />
        {% else %}
        <strong>Register here!!!</strong><br />

        <!-- enctype: required when user uploading files from form -->
        <form id="user_form" method="post" action="/polls/register/"
                                           enctype="multipart/form-data">
            {% csrf_token %} <!-- cross site request forgery protection -->

            {{ user_form.as_p }}
            {{ profile_form.as_p }}

           <input type="submit" name="submit" value="Register!!!" />
       </form>
       {% endif %}
    </body>
</html>
